<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finplat.financialmanage.mapper.BudgetMapper">

    <resultMap id="BaseResultMap" type="com.finplat.financialmanage.model.entity.Budget">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="budgetDesc" column="budgetDesc" jdbcType="VARCHAR"/>
            <result property="accountId" column="accountId" jdbcType="BIGINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="amount" column="amount" jdbcType="DECIMAL"/>
            <result property="category" column="category" jdbcType="VARCHAR"/>
            <result property="startDate" column="startDate" jdbcType="TIMESTAMP"/>
            <result property="endDate" column="endDate" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,budgetDesc,accountId,
        userId,amount,category,
        startDate,endDate,createTime,
        updateTime,isDelete
    </sql>
</mapper>
